$primary :rgba(3, 12, 224, 1);
$secondary : rgba(246, 104, 0, 1);
$dark_grey :rgba(51, 51, 51, 0.7);
$light_blue: rgba(204, 206, 255, 1);
$light_grey: rgba(196, 196, 196, 1);
$first_white: rgba(255, 255, 255, 1);
$sec_white: rgba(255, 255, 255, 1);
$btn_dark: rgba(130, 130, 130, 1);






