@import "./variable.scss";

.btn-secondary{ background-color: $secondary;border-color: $secondary;border-radius: 1rem;}

.btn-primary{ background-color: $primary;border-color: $primary; border-radius: 1rem;}
.text-color{color: $dark-grey;}
.bg-grey{background-color: rgba(204, 206, 255, 1);
}
html{
    font-size: 10px;
    @media screen and (min-width:768px) {
        font-size: 13px;  
    }
}
body{
    font-family: 'Montserrat', sans-serif;   
    margin: 0;
    padding: 0; 
    background-color: #fff;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}



#watch{
    background-image: url(/asset/watchsermons.png);
    background-position: center;
    background-size: cover;
    height:60vh;
    width: 100%;
    nav{
        background-color:rgba(13, 26, 36, 0.37);
        a{
            h5{  
            font-size: 1rem;
            font-weight: 700;

            }
        }
        a:hover{
            text-decoration: none;
        }
        ul{
            li{
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1.5rem;
            color: $dark-grey;
            a{
                color:rgba(255, 255, 255, 0.7);
            }
            .join{
                color: $secondary;
            }
            }
           
        }
    }
    .center{
        h1{
        margin-top: 8rem;
         letter-spacing: -0.07em;
         font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 7rem;
        line-height: 6rem;
        color: #ffffff;

        }
    }

}
.container{
    .title{
        display: flex;
        h3{
           font-size: 2.5rem;
           font-style: normal;
           font-weight: 500;
           line-height: 2.5rem; 
        }
       .hr{
           background-color: $dark-grey;
          height: 2px;
           flex: 1;
       }
    }
    p{
font-size: 1.5rem;
font-style: normal;
font-weight: 500;
line-height: 1.5rem;
    }
   
 }
.videos{
   
    display: flex;
    justify-content: space-between;
    .vid{
        overflow: hidden;
        z-index: 1;
        margin-bottom: 2rem;
        border-radius: 1rem;
    }
}
.death{
    background-color: rgba(224, 224, 224, 1);
    width: 100%;
    height: 100vmin;    
    
}
.footer{
    background-color: rgba(224, 224, 224, 1);
    .hold{
        .h5{
font-size: 1.5rem;
font-weight: 700;
line-height: 0.7rem;
letter-spacing: 0.06em;
        }
    } 
    .buttons{
        .btn{
            border: 1px solid black;
        }
        .div{
            font-weight: 500;
        }
    }
}

